html{
    margin: 0px;
    padding: 0px;
    background-color: rgba(221, 222, 222, 0.5);
}
body{
    margin: 20px;
    padding: 20px;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: 
        url(fundo\ com\ transparencia.png);
}
#rodaDeBicicleta{
    opacity: 0.2;
    height: 500px;
    display: block;
    margin: auto;
}
#fundoBody{
    opacity: 0.2;
}
h1{
    font-size: 3em;
    text-align: center;
}
h2{
    font-size: 2.5em;
    text-align: center;
}
p{
    text-align: justify;
}
/* 
#rodaDeBicicleta{
    position: absolute;
    height: 1000px;
    opacity: 0.2;
    left: 100px;
} */
#indice{
    padding: 5px 100px;
}
#ol-indice{
    padding: 50px 100px;
}
ul{
    list-style: none;
    margin: 20px 40px;
}