:root{
    --cor001:#ffffff80;
    --cor002:#dddede80;
    --cor003: #d2691e;
    --cor004: #a52a2a;
}
html{
    margin: 0px;
    padding: 0px;
    background-color:var(--cor002);
}
body{
    margin: 20px;
    padding: 20px;
    font-size: 1.5em;
    background-color:var(--cor001);
    background-image: 
        url(fundo\ com\ transparencia.png);
}
#rodaDeBicicleta{
    opacity: 0.2;
    height: 500px;
    display: block;
    margin: auto;
}
#fundoBody{
    opacity: 0.2;
}
h1{
    font-size: 3.2em;
    text-align: center;
}
h2{
    font-size: 2.8em;
    text-align: center;
    color: var(--cor003);
}
h3{
    text-align: justify;
    padding: 20px 100px 20px 200px;
    color: var(--cor004);
    font-style: italic;
}
h4{
    text-align: center;
    font-size: 2.5em;
}
span{
    display: block;
    padding-right: 100px;
    text-align: right;
    color: var(--cor004);
    font-size: 1em;
}
p{
    text-align: justify;
    font-size: 1.2em;
}
/* 
#rodaDeBicicleta{
    position: absolute;
    height: 1000px;
    opacity: 0.2;
    left: 100px;
} */
#indice{
    padding: 5px 100px;
}
#ol-indice{
    padding: 50px 100px;
}
ul{
    list-style: none;
    margin: 20px 40px;
}