html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;
    /* background-image: url(roda_de_bicicleta_aro_26_roda_26_dianteira_bivalente_ferro_36_furos_heal_1287_1_c0a27c4230171c8042bef80ba5e91b62.webp); */
}
h1{
    font-size: 3em;
    text-align: center;
}
h2{
    font-size: 2.5em;
    text-align: center;
}
/* 
#rodaDeBicicleta{
    position: absolute;
    height: 1000px;
    opacity: 0.2;
    left: 100px;
} */
#indice{
    padding: 5px 100px;
}
#ol-indice{
    padding: 50px 100px;
}